.button-expanded button{
    font-size: 4vh;
    margin: 2vh 0vh
}

.button-collapsed button{
    font-size: 4vh;
    margin: 2vh 0vh
}

#cant-post-comment {
    margin-top: 1vh;
}

#post-comment {
    margin-top: 1vh;
}

#post-comment-form {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    align-items: center;
    font-size: 6vw;
}

#post-comment-form label {
    text-align: left;
    margin-left: 2vw;
}

#post-comment-form span {
    vertical-align: 0.5vh
}

#post-comment-form textarea {
    margin: 1vh 0 0 1.5vw;
    width: 55%;
}

#post-comment-form button{
    margin: 0.75vw;
    font-size: 5vw;
    line-height: 1.1;
}

#comments-list{
    margin-top: 1vh;
    list-style-type: none;
    padding: 0;
}

#comments-list .fancy-box{
    margin-top: 1vh;
}

#comments-list button{
    margin: 0 0 1vh 0;
    font-size: 4vw;
    line-height: 1.1;
}

#comments-list p {
    font-size: 4vw;
    margin: 0 1vw 1vh 1vw;
}

#comments-list  #comment-user {
    font-size: 5.5vw;
}

#comments-list #comment-likes {
    font-size: 3.5vw;
    margin-bottom: 0.5vh;
}

#comments-list #comment-date {
    font-size: 3.5vw;
    margin-bottom: 0.5vh;
}

@media (min-width: 768px) {
    #post-comment-form {
        font-size: 4vw;
    }
    
    #post-comment-form button{
        font-size: 2.5vw;
    }

    #comments-list button{
        font-size: 2.5vw;
    }

    #post-comment-form textarea {
        width: 65%;
    }
}

@media (min-width: 1024px) {
    #post-comment-form {
        font-size: 2.25vw;
    }

    #post-comment-form button{
        font-size: 1.5vw;
    }

    #post-comment-form textarea {
        width: 70%;
    }

    #comments-list button{
        font-size: 1.25vw;
    }

    #comment-user {
        font-size: 1.75vw;
        margin-top: 0.25vh;
    }

    #comments-list p{
        font-size: 1.5vw;
        margin: 0 1vw 1.5vh 1vw;
    }

    #comments-list #comment-user {
        font-size: 2vw;
    }

    #comments-list #comment-likes {
        font-size: 1.25vw;
    }

    #comments-list #comment-date {
        font-size: 1.25vw;
    }
}