#header-box {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
  
header {
    margin-bottom: 1vh;
}
  
h1 {
    line-height: 1;
    font-size: 10vh;
    border: 0.5vw solid transparent;
    border-color: white;
    margin: 0.5vw 1vw 1vw 1vw;
}

nav {
    font-size: 5.5vh;
}

a {
    color: black;
    margin: 0 1vh;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(255, 255, 255)
}

@media (min-width: 1024px) {
    h1 {
    font-size: 12vh;
}
}