#header-box {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
  
header {
    margin-bottom: 3vw;
}
  
h1 {
    font-size: 10vh;
    margin-top: 0.5vh;
    margin-bottom: 0;
}
  
nav {
    font-size: 4vh;
}
  
a {
    color: black;
    margin: 0 1vh;
}
  
a:visited {
    color: black;
}
  
a:hover {
    color: rgb(255, 255, 255)
}