#root {
  font-family: Arial;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

header {
  margin-bottom: 2vw;
}

h1 {
  font-size: 5vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vw;
}

nav {
  font-size: 2vh;
}

.fancy-border {
  background-color: rgba(0, 178, 194, 0.737);
  border: 0.3vw solid transparent;
  border-color: #000000;
  width: 95vw
}

.fancy-border img{
  margin-top: 1vw;
  width: 25vw
}

.fancy-border h3{
  margin: 2vw 0;
}

ul {
  list-style-type: none;
  padding: 0;
}